.ceos{
    font-size: 2rem;
    color: #222222;
}

.ceos section{
    padding: 15px 0;
    width: 100%;
}

.ceos svg{
    margin: 0 10px;
    width: 32px;
    height: 32px;
}

.ceos h1 {
    font-size: 2rem;
}

/* p da primeira e segunda section */
.ceos section:nth-child(1) p, .ceos section:nth-child(2) p{
    margin: 12px 0;
    text-align: center;
    padding: 1% 70px;
    border-radius: 7px;
}

/* primeira section */
.ceos section:nth-child(1) p{
    background-color: #33CCFF;
    color: #222222;
    box-shadow: 25px 7px #222222;
}

.ceos section:nth-child(1) div p{
    box-shadow: none;
    padding: 0;
}
/* segunda section */
.ceos section:nth-child(2) p {
    color: #eeeeee;
}

.barracinza{
    width: 240px;
    height: 6px;
    background-color: #d3d3d3;
    border-radius: 10px;
}
.barraverde{
    height: 10px;
    background-color: #6dc04b;
    z-index: 1;
    margin-top: -2px;
    margin-left: 2px;
}
.meta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 21px;
}

.ceos a{
    text-decoration: none;
    color: #195170;
    display: flex;
    align-items: center;
}

.ceos a:hover{
    color: #117fbb;
}

/* terceira section */
.ceos section:nth-child(3) header, .ceos section:nth-child(4) header{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 1% 0;
}

/* quarta section */
.tecnologia{
    display: flex;
    align-items: center;
    padding: 2% 0;
    border-radius: 7px;
    cursor: pointer;
}
.tecnologia:hover{
    background-color: #195170;
    color: #eeeeee;
}
.tecnologia.tec-atual{
    background-color: #195170;
    color: #eeeeee;
}

@media (max-width: 450px){
    .grafico-tecnologia{
        width: 100vw;
    }
}

/* modal */
.tec-selecionada{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.nome_icone-tec-selecionada{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #222222;
    align-items: center;
    padding-right: 10%;
}
.nome_icone-tec-selecionada svg{
    width: 45px;
    height: 45px;
}
.descricao-tec-selecionada{
    padding: 10px;
    width: 300px;
    text-align: center;
}

/* quinta section */
.conquistas-ceos{
    display: flex;
    justify-content: center;
}
.conquistas-ceos svg {
    height: 40px;
    width: 40px;
    margin: 2px 10px;
}
.conquistas-ceos svg:hover {
    background-color: #195170;
    border-radius: 7px;
}