.tooltip{
    position: absolute;
    z-index: 500;
    background: rgba(0, 0, 0, .6);
    padding: .7rem;
    font-size: 1.25rem;
    color: #eeeeee;
    max-width: 225px;
    border-radius: 2px;
    display: none;
    font-weight: 600;
}

.tooltip.mostrarTooltip{
    display: block;
}