.filtro-participacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2%;
    border-bottom: 1px solid #222222;
}

.filtro-participacao svg{
    cursor: pointer;
    margin-left: 7px;
}

.usuario-participacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid #d3d3d3;
    padding: 1% 4%;
}

.usuario-participacao span{
    font-size: 1.5rem;
}

.usuario-participacao p{
    margin: 0 !important;
}

.dados-usuario-participacao{
    display: flex;
    width: 180px;
}
